
  h2 {
    text-align: center;
    margin: 1svb;
    padding: 1svh 0 5svh 0;
  }
  img {
    width: auto;
    max-height: 333px; 
  }
  section {
    color: whitesmoke;
  }

 .titulo p{
  color: black;
 }