/* <-------- Estilos generales de las paginas --------> */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.bd-background_photo{
    background-image: url(https://media.gettyimages.com/id/667138246/es/foto/argentina-buenos-aires-amanecer-en-el-centro-con-hora-punta.jpg?s=2048x2048&w=gi&k=20&c=mHncRiyTa0eFSXCuf2E6uAO6OcQzwMfNnC0TJYfmjmg=);
    background-repeat: no-repeat;
}

.sn-photo{
    color: whitesmoke;
    background-color: transparent;
}

footer {
    background-color: rgba(0, 0, 0, 0.756);
    color: rgb(208, 208, 208);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.196)
}

section {
    flex: 1;
    padding: 1rem;
    padding-top: 5rem;
    color: black;
    background-color: #f2f2f2;
}

#clima-info p {
    margin: 0.5rem 0;
}

#clima-info i {
    margin-right: 0.5rem;    
}

#clima-info .temperature {
    font-size: 1rem;
    font-weight: bold;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.gallery img {
    width: 16rem ;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.374)
}

.descripcion {
    margin-top: 20px;
}

.map {
    border: 0;
    height: 25rem;
    width: 21rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.374)

}

/* -------- Estilo Animaciones Carrusel -------- */

.carousel-item img[alt]:after {
    content: attr(alt);
    display: block;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    position: center;
    top: 10px;
    left: 10px; 
}

.carousel-item > img {
    object-fit: cover;
    height: 400px;
    width: 100%;
    border-radius: 0.5rem;
}


.carousel-caption > a , .carousel-caption > p {
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 2px black
}
.carousel {
    width: 500px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.374)
}


/* <-------- Custom CSS styles para la navbar de boostrap --------> */
.navbar-nav .nav-link.active {
    font-size: 18px; /* Tamaño de fuente activa*/
    font-weight: bolder; /* tipo de fuente activa */
}

.navbar-transparent {
    background-color: rgba(0, 0, 0, 0.67); /* Adjust the transparency */
    backdrop-filter: blur(10px); /* Adjust the blur radius */
}


.msgError {
    color:rgb(138, 0, 108);
    font-weight: bold;
    font-size: small;
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 8px;
}


/* Estilo del riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background-color: rgb(220, 220, 220);
}

/* Estilo del pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Estilo del pulgar de la barra de desplazamiento al pasar el ratón */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Estilos específicos para la clase "caja google" */
.caja.google {
    --uv-styles-color-outline: #3c4043;
    --uv-styles-color-scrim: #0009;
    --uv-styles-color-on-scrim: #fff;
    --uv-styles-color-icon-on-scrim: #fff;
    --uv-styles-color-primary: #8ab4f8;
    --uv-styles-color-on-primary: #202124;
    --uv-styles-color-secondary: #394457;
    --uv-styles-color-icon-on-secondary: #9aa0a6;
    --uv-styles-color-on-secondary: #d2e3fc;
    --uv-styles-color-tertiary: #303134;
    --uv-styles-color-on-tertiary: #bdc1c6;
    --uv-styles-color-icon-on-tertiary: #bdc1c6;
    --uv-styles-color-text-primary: #8ab4f8;
    --uv-styles-color-text-emphasis: #e8eaed;
    --uv-styles-color-icon-emphasis: #e8eaed;
    --uv-styles-color-text-de-emphasis: #9aa0a6;
    --uv-styles-color-text-default: #bdc1c6;
    --uv-styles-color-icon-default: #bdc1c6;
    --uv-styles-color-review-stars: #fdd663;
    --uv-styles-color-review-stars-empty: #80868b;
    --uv-styles-color-letterbox: #000;
    --uv-styles-color-surface: #171717;
    --uv-styles-color-footer: #171717;
}

/* pantalla media */
@media (400px <= width <= 991px) {
    li {
        display: contents;    
    }
    .carousel{
        width: 350px;
    }
}
/* pantalla chica */
@media (width <= 399px) {
    li {
        display: contents;    
    }
    .carousel{
        width: 200px;
    }
}
