/* <-------- Estilos generales de las paginas --------> */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

footer {
    background-color: #333;
    color: whitesmoke;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50px;
}

section {
    flex: 1;
    padding: 1rem;
    padding-top: 5rem;
    color: black;
}

#clima-info p {
    margin: 0.5rem 0;
}

#clima-info i {
    margin-right: 0.5rem;
}

#clima-info .temperature {
    font-size: 1rem;
    font-weight: bold;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.gallery img {
    width: 16rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

.descripcion {
    margin-top: 20px;
}

.map {
    border: 0;
    height: 25rem;
    width: 21rem;
}

/* -------- Estilo Animaciones Carrusel -------- */

.carousel-item img[alt]:after {
    content: attr(alt);
    display: block;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    position: center;
    top: 10px;
    left: 10px; 
}

.carousel-item > img {
    object-fit: scale-down;
    height: 50vh;
    width: 100%;
  }

.carousel-caption > h5 , .carousel-caption > p {
    color: rgb(255, 255, 255);
    text-shadow: 1px 3px 3px black
}
.carousel {
    width: 500px;
}


/* -------- Estilo Formulario -------- */
/* form {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.formWrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.25rem;
}

.formWrapper > label{
    grid-column-start: 1;
    grid-column-end: 2;
    width: 10rem;
    row-gap: 0.25rem;
}

.formWrapper > input[type="text"], input[type="email"], input[type="tel"], select,textarea {
    grid-column-start: 2;
    grid-column-end: 3;
    max-width: 20rem;
    margin:0.25rem !important;
}

.btn-wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 0.5rem;
}

form label {
    text-align: left; /* Alineación a la izquierda */
    margin:0 !important;
}


/* form input, form select, form textarea {
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
} */

/* form input[type="submit"] {
    width: auto;
    margin-top: 10px;
} */


li {
    margin-right: 15px;
    padding: 2px 6px 2px 6px;
    background-color: darkslateblue;
    align-self: center;
    border-radius: 10px 10px 10px 10px;

}

/* <-------- Custom CSS styles para la navbar de boostrap --------> */
.navbar-nav .nav-link.active {
    font-size: 18px; /* Tamaño de fuente activa*/
    font-weight: bolder; /* tipo de fuente activa */
}
.navbar {
    background-color: #182a3f;
}
/*padding para centrar navbar*/
#navbarNav{
    padding: 0 10% 0 0;
}
.msgError {
    color:rgb(138, 0, 108);
    font-weight: bold;
    font-size: small;
}

/* Estilos específicos para la clase "caja google" */
.caja.google {
    --uv-styles-color-outline: #3c4043;
    --uv-styles-color-scrim: #0009;
    --uv-styles-color-on-scrim: #fff;
    --uv-styles-color-icon-on-scrim: #fff;
    --uv-styles-color-primary: #8ab4f8;
    --uv-styles-color-on-primary: #202124;
    --uv-styles-color-secondary: #394457;
    --uv-styles-color-icon-on-secondary: #9aa0a6;
    --uv-styles-color-on-secondary: #d2e3fc;
    --uv-styles-color-tertiary: #303134;
    --uv-styles-color-on-tertiary: #bdc1c6;
    --uv-styles-color-icon-on-tertiary: #bdc1c6;
    --uv-styles-color-text-primary: #8ab4f8;
    --uv-styles-color-text-emphasis: #e8eaed;
    --uv-styles-color-icon-emphasis: #e8eaed;
    --uv-styles-color-text-de-emphasis: #9aa0a6;
    --uv-styles-color-text-default: #bdc1c6;
    --uv-styles-color-icon-default: #bdc1c6;
    --uv-styles-color-review-stars: #fdd663;
    --uv-styles-color-review-stars-empty: #80868b;
    --uv-styles-color-letterbox: #000;
    --uv-styles-color-surface: #171717;
    --uv-styles-color-footer: #171717;
}

/* pantalla media */
@media (400px <= width <= 991px) {
    li {
        display: contents;    
    }
    .carousel{
        width: 350px;
    }
}
/* pantalla chica */
@media (width <= 399px) {
    li {
        display: contents;    
    }
    .carousel{
        width: 200px;
    }
}
